/* .item{
    align-items: center;
  } */
  /* .mystyle{
    color: #eee;
    left: 30%;
    background-color: transparent;
    box-shadow: goldenrod;
  } */

 .search-button:hover {
 
    color:gold;
    border: solid 1px greenyellow;
    background: linear-gradient(to bottom, #291784, #06193f);
  }
  .ImageContainer1{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a021d;
    border: 2px solid goldenrod;
  }
  
  .circle {
    display: flex;
    
    justify-content: center;
    align-items: center;
    width:20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   ;
  }
  
  .circle img {
    width: 100%;
    height: auto;
  }

  /* Avabodhayami css */
.avC{
  
    color:#eee;
    width:60%;
    height: 7vh;
    font-size: 14px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #080723, #2ebceb);
    box-shadow: 0 4px 12px 2px rgba(214, 221, 253,1.5);
  }


  
  .id2{
    background-color:rgba(0, 0, 0, 0.3);
    border: 1px solid grey; 
    color:#eee;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
  }
  .input{
    /* width:70%;
   height: 25px; */
   /* width: 60%;
   height: 5vh;*/
   align-items: last baseline;
   background-color: #0b0d36;
   border-top-left-radius: 24px;
   border-bottom-left-radius: 24px;
    /* padding: 6px 12px ; */
   /*height: 15px;*/
   color: #eee; 
  
  }
  .search-button {
    height: 5vh;
    width: 25%;
    padding: 0;
    top:5px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  } 
  
  /* .id1{
    width: 50%;
    border-radius:10px;
    padding-left: ;
  } */
/* Sidebar*/
.Sidebar{

}